* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, blue, violet);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.top {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.top h1 {
    margin-top: 3px;
    color: white;
}

.top p {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: large;
    font-weight: 600;
    color: white;

}

.container {
    width: 60vmin;
    height: 70vmin;
    border-radius: 4px;
    background-color: #293447;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.game-details {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    color: aliceblue;
}

.play-body {
    width: 100%;
    height: 100%;
    background-color: #212837;
    display: grid;
    grid-template: repeat(25, 1fr)/repeat(25, 1fr);
}

.play-body .food {
    background-color: rgb(255, 3, 3);
    border-radius: 3px;
}

.play-body .head {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.play-body .snake {
    background-color: rgb(0, 191, 255);
    border-radius: 2px;
}

@media(width <=600px) {
    .container {
        width: 80%;
        height: 85vmin;
        overflow: visible;
    }
}

@media(width <=375px) {
    .top {
        margin-bottom: 4rem;
        margin-top: 2rem;

    }

    .top p {
        margin-bottom: 10px;
        margin-top: 15px;
    }
}



.controls {
    position: absolute;
    bottom: -22%;
    display: none;
    width: 100%;
}

.control-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    width: 63px;
    height: 63px;
    font-size: 30px;
}

@media(width <=552px) {
    .controls {
        display: flex;
        gap: 1px;
        justify-content: center;
    }
}

@media(width <=375px) {
    .controls {
        bottom: -30%;
    }
}